#osx
.DS_Store
xcuserdata

#win32
projects/win32/Codec.VS2010/Debug
projects/win32/Codec.VS2010/Release
projects/win32/Codec.VS2010/Debug
projects/win32/Codec.VS2010/Release
projects/win32/Codec.Win32/Debug 
projects/win32/Codec.Win32/Release
projects/win32/Debug 
projects/win32/Release
projects/win32/ipch
*.suo
*.sdf
*.user
*.obj
*.lib
*.tlog
*.exe
*.obj
*.log
*.pdb
*.ilk
*.ipch
*.opensdf